<div class="text-center">

<h1>Welcome to the Postapp</h1>
<%= link_to 'posts listing', posts_path %>

<%= link_to 'About page', pages_about_path %>
</div>
<div class="text-center">
<%= link_to 'Signup', signup_path,class:"btn btn-primary btn-lg" %> 
</div>